.game-board {
    display: grid;
    grid-template-rows: repeat(10, 65px);
    grid-template-columns: repeat(10, 65px);
    gap: 2px;
    /* border: 2px solid blue; */
    height: 80vh;
    padding: 1rem;
    justify-content: right;
    padding-right: 5rem;
    /* height: 70vh; */
}

.cheat-board {
    display: grid;
    grid-template-rows: repeat(10, 45px);
    grid-template-columns: repeat(10, 45px);
    justify-content: center;
    column-gap: auto;
    gap: 5px;
}

.game-container {
    display: flex;
    /* width: 50vw; */
}

.left-container {
    /* border: 2px solid red; */
    display: flex;
    flex: 6;
    /* width: 60vw; */
    flex-direction: column;
    height: 75vh;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.left-upper-container {
    /* border: 2px solid green; */
    width: 50vw;
    /* margin: 1rem; */
    flex: 9;
    /* Takes 80% of the available vertical space */
}

.left-bottom-container {
    border: 2px solid darkorchid;
    width: 50vw;
    /* margin-bottom: 1rem; */
    flex: 1;
    /* Takes 20% of the available vertical space */
}


.right-container {
    /* border: 2px solid blue; */
    flex: 4;
    /* width: 80vw; */
}

.cheatBtn {
    width: 8rem;
    height: 2rem;
    margin-top: .6rem;
    margin-right: .5rem;
}

.playBtnSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-area {
    display: flex;
    border: 2px solid brown;
    flex-direction: row;
    justify-content: space-evenly;
}

.text-box {
    margin-left: .5rem;
    margin-right: .5rem;
}

.box {
    border: 2px solid brown;
    margin: 4px;
    width: 65px;
    height: 65px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cheat-box {
    border: 2px solid brown;
    margin: 4px;
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}