.game-board {
    display: grid;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: repeat(10, 50px);
    justify-content: center;
    gap: 2px;
    height: 60vh;
}

.game-container {
    display: flex;
    /* Use flexbox to arrange left and right containers */
}

.left-content {
    border: 2px solid red;
    display: flex;
    width: 30vw;
    /* Let it grow to take available space */
    padding: 10px;
    /* Add padding or adjust as needed */
    /* Add other styles for your left content here */
}

.cheatBtn {
    width: 5rem;
    height: 2rem;
    margin-top: .6rem;
}

.game-board {
    border: 2px solid blue;
    width: 70vw;
    /* Make it twice as wide as the left content */
    /* Add other styles for your game board here */
}

.box {
    border: 2px solid brown;
    margin: 4px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}