@import url(https://fonts.googleapis.com/css?family=Dosis:700);

body {
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    background: #ecf0f1;
    color: #34495e;
    /* padding-top: 40px; */
    text-shadow: white 1px 1px 1px;
}

.value {
    /* border-bottom: 4px dashed #bdc3c7; */
    /* margin-bottom: 1rem; */
    text-align: left;
    font-weight: bold;
    font-size: 1.5rem;
    width: 10rem;
    height: 1rem;
    line-height: 60px;
    margin-bottom: .1rem;
    letter-spacing: -.07em;
    text-shadow: white 2px 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #bdc3c7;
    width: 10rem;
    height: .5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-top: .5rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: beige;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid burlywood;
    cursor: pointer;
    transition: .3s ease-in-out;
}

​ input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #e74c3c;
}

input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
}